body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.900);
}

.app {
  text-align: center;
}

#kaboot{
  color: red;
  text-align: center;
  animation-name:colorChange;
  animation-duration:5s;
  animation-iteration-count: infinite;
  font-weight: bold;
/*   animation-direction: alternate; */
}
#score{
  color:white;
}
#loading{
  color:white;
  font-size: 50px;
}
@keyframes colorChange{
  from{color:red}
  20%{color:orange}
  40%{color:yellow}
  60%{color:green}
  80%{color:blue}
  100%{color:purple}
}